/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* Variables */
:root {
  /* Font */
  --ff-primary: "Noto Sans", sans-serif;

  /* Colors */
  --neutral-1: #091540;
  --neutral-2: #202535;
  --neutral-3: #2f364b;
  --neutral-4: #535868;
  --neutral-5: #c6c6c6;
  --neutral-6: #d6e2f5;
  --neutral-7: #eee;
  --neutral-8: #fbfdfe;
  --red-1: #c7231a;
  --red-2: #de4840;
  --red-3: #f25c54;
  --gradient-light: linear-gradient(180deg, #ebf2fc 0%, #eefbf9 100%);
  --gradient-dark: linear-gradient(180deg, #04091b 0%, #091540 100%);

  /* Font Sizes */
  --fs-1: 2.125rem;
  --fs-2: 1.25rem;
  --fs-3: 1rem;

  /* Font Weights */
  --fw-1: 700;
  --fw-2: 500;
  --fw-3: 400;

  /* Line Heights */
  --lh-1: 140%;
  --lh-2: 120%;
  --lh-3: 100%;

  /* Letter Spacing */
  --ls-1: -1px;
  --ls-2: -0.5px;
  --ls-3: -0.3px;
  --ls-4: -0.2px;
}

/* Utility Classes */
/* Font */
.ff-primary {
  font-family: var(--ff-primary);
}

/* Colors */
.neutral-1 {
  color: var(--neutral-1);
}

.neutral-4 {
  color: var(--neutral-4);
}

/* Background Colors */
.light-bg {
  background: var(--gradient-light);
}

.neutral-5-bg {
  background-color: var(--neutral-5);
}

.neutral-7-bg {
  background-color: var(--neutral-7);
}

.neutral-8-bg {
  background-color: var(--neutral-8);
}

.red-1-bg {
  background-color: var(--red-1);
}

/* Text Presets */
.tp-1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-1);
  line-height: var(--lh-3);
  letter-spacing: var(--ls-1);
}

.tp-2 {
  font-size: var(--fs-2);
  font-weight: var(--fw-1);
  line-height: var(--lh-2);
  letter-spacing: var(--ls-4);
}

.tp-3 {
  font-size: var(--fs-2);
  font-weight: var(--fw-3);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-3);
}

.tp-4 {
  font-size: var(--fs-2);
  font-weight: var(--fw-2);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-3);
}

.tp-5 {
  font-size: var(--fs-3);
  font-weight: var(--fw-3);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-2);
}

.tp-6 {
  font-size: var(--fs-3);
  font-weight: var(--fw-2);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-2);
}

/* Body */
body {
  padding: 2.5rem 10vw 4rem;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-radius: 1.25rem;
  box-shadow: 0 2px 3px #d9e5f4;
}

header button {
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  cursor: pointer;
  border: none;
}

/* Heading */
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 4rem 2rem;
}

.heading button {
  border: none;
  padding: 0.5rem 1.25rem 0.625rem;
  border-radius: 100rem;
  box-shadow: 0 1px 2px rgba(184, 196, 215, 0.4);
  cursor: pointer;
}

.filters :nth-child(2) {
  margin-inline: 0.75rem;
}

/* Extensions Container */
.extensions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.75rem;
}

/* Extension */
.extension {
  padding: 1.25rem;
  border-radius: 1.25rem;
  box-shadow: 0 2px 2px rgba(194, 206, 225, 0.2);
  box-shadow: 0 1px 5px 1px rgba(194, 206, 225, 0.22);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  gap: 1rem;
  margin-bottom: 2.875rem;
  align-items: flex-start;
}

.info h2 {
  margin-bottom: 0.5rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-btn {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 100rem;
  border: 2px solid var(--neutral-5);
  cursor: pointer;
}

.active-btn {
  width: 2.25rem;
  height: 1.3rem;
  border-radius: 100rem;
  border: none;
  position: relative;
  cursor: pointer;
}

.active-btn::after {
  content: "";
  position: absolute;
  background-color: var(--neutral-8);
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: 1px;
}

/* Media Queries */
@media screen and (max-width: 66rem) {
  /* Body */
  body {
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 56rem) {
  /* Body */
  body {
    padding-top: 1.5rem;
  }

  /* Heading */
  .heading {
    margin-top: 2.5rem;
  }

  /* Extensions Container */
  .extensions {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 39.5rem) {
  /* Body */
  body {
    padding-top: 1.25rem;
    padding-inline: 1rem;
  }

  /* Header */
  header {
    padding: 0.5rem 0.75rem;
  }

  /* Heading */
  .heading {
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
  }

  /* Extensions Container */
  .extensions {
    grid-template-columns: 1fr;
  }
}
